pkgbase = engraver-bin
	pkgdesc = Safe, fast tool for creating bootable USB drives
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/mstephenholl/engraver
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gcc-libs
	optdepends = bash-completion: for bash completion
	optdepends = zsh-completions: for zsh completion
	optdepends = fish: for fish completion
	provides = engraver
	conflicts = engraver
	conflicts = engraver-git
	source_x86_64 = https://github.com/mstephenholl/engraver/releases/download/v0.1.0/engraver-v0.1.0-x86_64-unknown-linux-gnu.tar.gz
	sha256sums_x86_64 = PLACEHOLDER_SHA256_X64
	source_aarch64 = https://github.com/mstephenholl/engraver/releases/download/v0.1.0/engraver-v0.1.0-aarch64-unknown-linux-gnu.tar.gz
	sha256sums_aarch64 = PLACEHOLDER_SHA256_ARM64

pkgname = engraver-bin
